---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Hi, I'm Rhylen!">
	<main>
	   <div class="hero">
	      <h1>Hello. <br>I'm <span class="name">Rhylen</span>!</h1>
            <p>I'm a front-end developer & storyteller for the digital age</p>
            <div class="button-group">
               <button>Contact Me</button>
               <button>Resume</button>
            </div>
	   </div>
	   <div id="about">
	      <h2>About Me</h2>
	      <p>Hi, I'm Rhylen and I have a passion for creating novel experiences on the web. I started my journey in the digital world when I was 10 and picked up the book "How to build your own website." Since then I’ve been been around the internet with Greasemonkey userscripts and Tumblr theme customizations and fell in love with programming.</p>
	      <p>Now, I’m graduating August 2022 and I'm still just as passisionate about computers as I was at 12 years old. Over the years I've become experienced in a wide variety of web technologies and languages. My main focus is building easy to navigate front-end experiences and making technology intuitive.</p>
	      <p><strong>When I’m not coding,</strong>  I love dancing, reading, and playing board and table-top role playing games.</p>

	      <div class="skills">
	         <h2>Skills</h2>
	         <ul>
	            <li>HTML</li>
	         </ul>
	      </div>

	   </div>

	</main>
</Layout>

<style lang="scss">
	:root {
		background-image: url(/Pattern.svg);
		margin: 0;
	}
	p {
	   margin:0;
	}

	h1 {
	    font-size: 3rem;
	    margin: 0;
	}

	main {
		margin: 0;
		max-width: 1440px;
		color: #090909;
		display: flex;
		flex-direction: column;
	}

   .hero {
      height: 100vh;
      text-align: center;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 4em;
      gap: 18px;
      .name {
         color: #2B3464;
      }
   }

   #about {
      background-color: #2B3464;
      padding: 2em;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #F8F8FF;
      p {
      margin: 10px 0;
      }
      h2 {
         font-family: 'Josefin Sans';
         font-style: normal;
         font-weight: 700;
         font-size: 20px;
         line-height: 20px;
         color:#53A2BE;
      }
   }

</style>
