---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.svelte";
import Skill from "../components/Skill.astro";
import {ArrowDown} from "astro-feather-icons";
---

<Layout title="R.This">
   <div class="hero">
      <p class="subtitle">Hello, I am</p>
      <p class="title">Rhylen</p>
      <a href="#about"><ArrowDown size="40"/></a>
   </div>

   <Card name="about" client:visible>
      <div class="lato">
         <p>Hi, I'm Rhylen and I have a passion for creating novel experiences on the web. I started my journey in
            the digital world when I was 10 and picked up the book "How to build your own website." Since then I've
            been been around the internet with Greasemonkey userscripts and Tumblr theme customizations and fell in
            love with programming.</p>
         <p>Now, I'm graduating August 2022 and I'm still just as passisionate about computers as I was at 12 years
            old. Over the years I've become experienced in a wide variety of web technologies and languages. My main
            focus is building easy to navigate front-end experiences and making technology intuitive.</p>
         <p><strong>When I'm not coding,</strong> I love dancing, reading, and playing board and table-top role playing games.</p>
      </div>
   </Card>

   <Card name="skills" client:visible>
      <Skill skill="HTML" years="8"/>
      <Skill skill="Javascript" years="8"/>
      <Skill skill="CSS/SASS" years="8"/>
      <Skill skill="Java" years="4"/>
      <Skill skill="C++" years="4"/>
      <Skill skill="Python" years="2"/>
      <Skill skill="angular" years="0.5"/>
      <Skill skill="svelte" years="0.5"/>
      <Skill skill="typescript" years="0.17 "/>

   </Card>

   <Card name="work" client:visible>
      <a class="project" href="https://staydepartment.com">
         <h3>Stay Department</h3>
         <p>Wordpress Site</p>
      </a>
      <a class="project" href="https://gammasector.beepboop.productions">
         <h3>Gamma Sector</h3>
         <p>HTML Site</p>
      </a>
      <a class="project" href="/">
         <h3>R.This</h3>
         <p>Portfolio Site</p>
      </a>
      <a class="project" href="https://beepboop.productions">
         <h3>Beep Boop Production</h3>
         <p>Online Playlist</p>
      </a>
   </Card>

   <Card name="contact" client:visible>
      <p class="lato">I'm available for freelance work! If you're interested in my work (or if you have fun pictures
         of your cat), I would love to chat!</p>
      <a href="mailto:me@rhylennguyen.com">me@rhylennguyen.com</a>
   </Card>

   <footer>
      <a href="https://github.com/riceconfetti">Github</a>
      <a href="https://www.linkedin.com/in/rhylen-n-886592139/">LinkedIn</a>
      <a href="https://twitter.com/rhylennguyen">Twitter</a>
      <a href="/">Codepen</a>
      <p>Copyright © 2022 Rhylen Nguyen. All Rights Reserved.</p>
   </footer>
</Layout>

<style lang="scss">
   .hero {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      font-size: 2em;
      p {
         margin: 0;
      }
      .title {
         font-size: 1.5em;
         color: #3142D8;
         font-weight: bold;
         position: relative;
         &::before {
            content: "rhylen";
            font-weight: 500;
            position: absolute;
            top:-3px;
            left: -3px;
         }
      }
   }

   :global(#contact) {
      position:relative;
   }

   .lato {
      font-family: lato;
   }
</style>